﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RewindMVC</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="icon" type="image/png" href="/img/arunpun-favicon.png">
    <!-- Dev icons -->
    <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3 theme-color">
            <div class="container-fluid">
                <a class="navbar-brand text-light">
                    <img class="d-inline-block align-text-top" src="/img/arunpun-home-logo.png" alt="Arun Pun Logo" width="30" height="30" />
                    RewindMVC
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Home" asp-action="App">The App</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="https://github.com/justarunsthing/RewindMVC" target="_blank">Git Repo</a>
                        </li>
                        @*
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#" target="_blank">About</a>
                            </li>
                        *@
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer mt-auto py-3 sticky-footer theme-color">
        <div class="container-fluid">
            <div class="row row-cols-1 row-cols-lg-3 gy-2">
                <div class="col order-last order-lg-first text-light">
                    <div>
                        <span class="">&copy;@(DateTime.Now.Year)</span> Arun Pun | justarunsthing@outlook.com
                    </div>
                </div>
                <div class="col d-flex align-items-center justify-content-start justify-content-lg-center">
                    <img src="/img/arunpun-logo.svg" alt="Arun Pun Logo" height="24">
                </div>
                <div class="col d-flex align-items-center justify-content-start justify-content-lg-end">
                    <div class="row">
                        <div class="col social">
                            <a href="https://github.com/justarunsthing" target="_blank">
                                <i class="fab fa-github fa-2x"></i>
                            </a>
                        </div>
                        <div class="col social">
                            <a href="https://www.instagram.com/justarunsthing" target="_blank">
                                <i class="fab fa-instagram fa-2x"></i>
                            </a>
                        </div>
                        @*
                            <div class="col social">
                                <a href="#" target="_blank">
                                    <i class="fab fa-youtube fa-2x"></i>
                                </a>
                            </div>
                        *@
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/5db21ba9c6.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>