@model RewindMVC.Models.Rewind
@{
    ViewData["Title"] = "App";
}

<div class="container mt-4">
    <div class="row row-cols-1 row-cols-lg-2">
        <div class="col">
            <h1 class="display-6 fw-bold lh-1 mb-3">
                Rewind: A coding project
            </h1>
            <h4 class="lead pb-3">
                There and back again. A C# coding exercise using arrays. Write a program that displays
                a string in reverse.
            </h4>
        </div>
        <div class="col">
            <h5 class="border-1 border-bottom border-danger">
                Enter a string to reverse:
            </h5>
            <form asp-controller="Home" asp-action="App" method="post">
                <div class="col">
                    <input type="text" asp-for="Input" class="form-control" placeholder="Enter a string" />
                </div>
                <div class="col-12 pt-2">
                    <button type="submit" class="btn btn-lg text-light action">
                        Rewind!
                    </button>
                </div>

                @if (!string.IsNullOrEmpty(Model.Result))
                {
                    <div class="col pt-3">
                        <div class="alert alert-success" role="alert">
                            <h4>
                                String reversed!
                            </h4>
                            <hr />
                            <p>
                                @Model.Message
                            </p>
                        </div>
                    </div>
                }
            </form>
        </div>
    </div>
</div>