@{
    ViewData["Title"] = "Home";
}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row g-5 row-cols-1 row-cols-lg-2">
        <div class="col order-last order-lg-first">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                Rewind: A Coding Project
            </h1>
            <h4 class="lead">
                There and back again. A C# coding exercise using arrays. Write a program that displays
                a string in reverse.
            </h4>
            <ul class="fa-ul pt-2 checklist">
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>HTML5</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>CSS & Bootstrap Layout</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>MVC - Model View Controller</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>C# Fundamentals</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>C# Statements, Expressions & Operators</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>C# Object Oriented Programming</li>
            </ul>
            <div>
                <a asp-controller="Home" asp-action="App" class="btn btn-outline-dark btn-lg px-4 me-md-2 action text-light">
                    Try It Out!
                </a>
            </div>
            <div class="d-flex mt-3">
                <div class="row">
                    <div class="col p-1"><i class="devicons devicon-html5-plain colored"></i></div>
                    <div class="col p-1"><i class="devicons devicon-css3-plain colored"></i></div>
                    <div class="col p-1"><i class="devicons devicon-bootstrap-plain colored"></i></div>
                    <div class="col p-1"><i class="devicons devicon-csharp-plain colored"></i></div>
                    <div class="col p-1"><i class="devicons devicon-dotnetcore-plain colored"></i></div>
                </div>
            </div>
        </div>
        <div class="col">
            <img src="/img/app-logo.svg" class="img-fluid center-block d-block mx-auto" alt="App Logo" width="700" height="500">
        </div>
    </div>
</div>