:root {
    --primary-color: #1D5888;
    --secondary-color: #73C8D2;
    --dark-color: #292929;
    --white-color: #E7E7E7;
}

.theme-color {
    background-color: #0046FF;
    left: 0;
    bottom: 0;
    width: 100%;
}

.sticky-footer {
    position: sticky;
}

.action {
    background-color: var(--secondary-color);
}

    .action:hover {
        background-color: #4C8BFF;
        border: 2px solid #1D5888;
        box-shadow: 0 0 10px rgba(0, 70, 255, 0.35);
    }

.devicons {
    font-size: 4rem;
}

html {
    font-size: 14px;
}

footer {
    padding-right: 1rem;
}

    footer .social > a {
        color: var(--white-color);
        opacity: 0.75;
    }

        footer .social > a:hover {
            opacity: 0.9;
            color: var(--secondary-color);
        }

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
}

.checklist > li i {
    color: #464d77;
}

.table .bold {
    font-weight: bold;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}